:root {
    --primaryColor: #FD8F1E;
    --mainWhite: #fff;
    --mainBlack: #222;
    --maingray: #ececec;
    --mainSpacing: .2rem;
    --mainTransition: all 0.2s linear;
}

.pop {
    position: fixed;
    top: 5.5rem;
    right: .5rem;
}

.popItem {
    display: block;
    background: var(--primaryColor);
    margin: 1rem 0;
    padding: 0 .5rem;
    /* color: var(--mainWhite); */
    /* text-transform: capitalize; */
    width: 8rem;
    height: 5rem;
    object-fit: contain;
    animation: pop 0.2s;
}

.popItem span {
    text-transform: lowercase;
}

@keyframes pop {
    0% {
        opacity: 0.5;
        transform: translate(150%);
    }
    50% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* =================== Navbar =================== */

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100%;
    background: var(--maingray);
    z-index: 1;
}

.navbar__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 125rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.cart__btn {
    position: relative;
    cursor: pointer;
}

.navbar__center img {
    cursor: pointer;
}

.logo {
    font-size: 2.5rem;
    font-weight: 800;
    word-spacing: -15px;
    text-transform: capitalize;
    cursor: pointer;
}

.logo span:first-child {
    color: var(--mainBlack);
}

.logo span:last-child {
    color: var(--primaryColor);
}

.nav__icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.cart__items {
    position: absolute;
    top: -.7rem;
    right: -.7rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
    background: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 20%;
    z-index: 1;
}

/* =================== End of Navbar =================== */

/* =================== Hero =================== */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 6rem);
    background: url(../assets/img/hero-bcg.jpeg) center/cover no-repeat;
}

.banner {
    display: inline-block;
    align-items: center;
    padding: 3.5rem;
    text-align: center;
    background: #ecececb2;
    color: var(--mainBlack);
}

.banner__title {
    margin-bottom: 2.5rem;
    font-size: 3.3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
}

.banner__btn {
    -webkit-user-select: none;
    padding: 1.5rem 4rem;
    background: var(--primaryColor);
    letter-spacing: var(--mainSpacing);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--mainBlack);
    text-transform: uppercase;
    outline: none;
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}

.banner__btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

/* =================== End of Hero =================== */

/* =================== Products =================== */

.products {
    padding: 4rem 0;
}

.section__title h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.products__center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    width: 90vw;
    max-width: 117rem;
    margin: 0 auto;
    overflow: hidden;
}

.img__container {
    position: relative;
    overflow: hidden;
}

.img__container:hover .product__img {
    opacity: 0.5;
}

.product__img {
    display: block;
    width: 100%;
    object-fit: contain;
    min-height: 18rem;
    transition: var(--mainTransition);
}

.img__container button {
    outline: none;
}

.bag__btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.8rem 1rem;
    letter-spacing: var(--mainSpacing);
    cursor: pointer;
    font-size: .9rem;
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
}

.bag__btn:hover {
    color: var(--mainWhite);
}

.img__container:hover .bag__btn {
    transform: translateX(0);
}

.fa-shopping-cart {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.product h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
}

.product h4 {
    text-align: center;
    font-size: 1.6rem;
    color: var(--primaryColor);
}

/* =================== End of Products =================== */

/* =================== Cart =================== */

.cart__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    visibility: hidden;
    z-index: 2;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1.8rem;
    transform: translateX(100%);
    background: var(--mainWhite);
    transition: var(--mainTransition);
    z-index: 3;
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-height: 450px;
    }
}

.close__cart {
    font-size: 1.8rem;
    cursor: pointer;
}

.close__cart:hover {
    color: var(--primaryColor);
}

.cart h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    text-transform: capitalize;
}

.cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1rem;
    margin: 2rem 0;
}

.cart__item img {
    width: 8rem;
    height: 8rem;
}

.cart__item h4 {
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart__item h5 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    letter-spacing: var(--mainSpacing);
}

.remove__item {
    font-size: 1.6rem;
    color: grey;
    cursor: pointer;
}

.fa-chevron-up, .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 1.6rem;
}

.item__amount {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart__footer {
    text-align: center;
}

.cart__footer h3 {
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 1.6rem;
}

/* =================== End of Cart =================== */